body {
  font-family: Arial, sans-serif;
  background-color: hwb(177 9% 24%);
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container a {
  color: #ffffff; /* Link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.container a:hover {
  color: #0056b3; /* Change color on hover */
}

h2 {
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  cursor: pointer;
}

a.button {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

a.button:hover {
  background-color: #24f02e;
}